.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__clz {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    display: flex;
    /* Utilisez flex pour placer les éléments sur la même ligne */
    justify-content: space-between;
    /* Pour espacer les éléments sur la ligne */
    align-items: center;
}

.close-button {
    color: #0a0a0a;
    /* Couleur du texte du bouton × */
    background: none;
    /* Fond transparent pour le bouton × */
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;

    left: 10px;
    cursor: pointer;

}
